.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;

}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.319));
    z-index: 1;
}

.carousel-content {
    position: absolute;  
    color: white;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-content h1 {
    font-size: 2em;

}

.carousel-content button {
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #27642E;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: none;
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin-left: 30px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1000000;
    transition: background-color 0.3s ease;
    height: 80px;
    position: fixed !important;
    top: 0;
    background-color: #033158;
    cursor: pointer;
}

.home img{
    width: 72px;
    height: 90%; 
    margin-right: 10px;
     

}   
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px ;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
   }

.home a,
.navbar-links li a {
text-decoration: none;
color: whitesmoke;
font-family: "roboto", sans-serif;
font-size: 0.9rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #033158;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
color: whitesmoke;
}
.navbar-links li a:hover{
    color: #ED920E;

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.nav.scrolled {
    background-color: #E0DEDE;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2); /* Ajusta la sombra si es necesario */
}
.navbar-links li a img{
   display: none;
}
.redes-sociales li img{
    width: 30px;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    background-color: #27642E; 
    color: white; 
    border: none; 
    border-radius: 12px; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    outline: none; 
    box-shadow: none; 
   
}
.button:hover {
    background-color: #218838; /* Verde más oscuro en hover */
    transform: scale(1.05); /* Efecto de aumento */
}

.button:focus {
    outline: none; /* Asegura que no haya contorno en el foco */
}
.hero-content h1{
    font-size: 2.5rem;
    padding: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container-title{
    line-height: 18px;
}
.title{
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
}
.subtitle{
    padding: 19px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
}
.parrafo{
    padding: 19px;
    font-size: 1.5rem;
}
.button a{
    text-decoration: none;
    color: white;
}

/* Section Dos */
.seccion-dos{
    padding: 5px;
}
.title-dos{
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: white;
}
.container-dos{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.619) 80%, rgba(10, 2, 9, 0.241)), url('/assets/images/Las-Margaritas.jpg');
    border-radius: 20px;
    padding: 20px;
}
.imagen-uno img{
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;
    
}
.imagen-uno::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 
}
.parrafo-dos{
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}

/* Section tres */
.seccion-tres{
    padding: 5px;
    margin-top: 50px;
}
.container-tres{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    background-image: radial-gradient(rgba(0, 0, 0, 0.755), rgba(10, 2, 9, 0.636)), url('/assets/images/chicos.jpg');
    border-radius: 20px;
    padding: 50px;
}
/* Section Cuatro */
.container-cuatro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.tarjetas{
    background-color: white;
    padding: 20px;
    width: 250px;
    height:250px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.tarjetas figure img{
    width: 60px;
    height: 100%;
    
}
.tarjetas:hover{

    box-shadow: 0 0 10px #0A375F;
    transition: 0.5s;
    
}

/* Section Cinco */
.container-cinco{
    background-color: #0A375F;
    width: 100%;
    height:290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.uno{
    color: white;
    padding: 20px;
    font-size: 1rem;
    font-family: "Lato", sans-serif;

}
.uno h3{
    font-size: 2rem;
}
.uno h5{
    font-size: 1.1rem;
}
.dos{
    color: white;
    padding: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dos h3{
    font-size: 2rem;

}
.dos h5{
    font-size: 1.1rem;

}
/* Section seis */
.container-title-seis{
    line-height: 18px;
}
.title-seis{
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: black;
}

.subtitle-seis{
    padding: 19px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
}
.tarjetas-seccion-seis{
    background-color: white;
    padding: 20px;
    width: 90%;
    height:auto;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.tarjeta-seccion-seis{
    background-color: white;
    border: 2px solid #0A375F; 
    padding: 20px;
    width: 80%;  
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.tarjeta-seccion-seiss{
    background-color: white;
    border: 2px solid #0A375F; 
    padding: 20px;
    width: 80%;  
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}
.tarjeta-seccion-seiss:hover{
    background-color: #0A375F ;
    color: white;
    transform: scale(1.1);
}
/* Sección siete*/
.container-siete{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    padding: 20px;
}
.container-siete figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container-siete figure img{
    margin-top: 30px;
    width: 260px;
    height: 100%;
    border-radius: 20px;
}
/* Seccion Ocho */
/* .seccion-ocho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.tarjeta-ocho{
    background-color: white;
    padding: 20px;
    width: 250px;
    height:250px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    gap: 15px;
} */
/* Estilos para la sección */
.seccion-ocho {
    padding: 20px;
  }
  
  .container-ocho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  
  }
  
  .tarjeta-ocho {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: white;
  }
  .carousel-dos {
    display: flex;
    width: 100%;
    position: relative;
  
  }
  .carousel-item-dos {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item-dos img {
    width: 160px;
    height: auto;
  }
  
/* Footer */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #033158;
    border-top: 1px solid #e5e5e5;
    color: whitesmoke;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  .footer__logo img{
    width: 150px;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }


  #subtitulo {
    display: none;
    font-size: 14px;
    color: #666;
  }

  #popup {
    display: none;
    position: absolute;
    background-color: #ede8e8;
    border: 1px solid #ccc;
    padding: 70px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 500px;
    border-radius: 10px;
    font-size: 1.01rem;
  }




/* Nosotros */

/* Section one */
.title-dos-nosotros{
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: #333;;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .images img{
    width: 400px;
    height: 100%;
    border-radius: 20px;
  }
  section {
    margin-top: 80px; /* Ajusta este valor según la altura de tu navbar */
  }
  .subtitle{
    padding: 21px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
    font-family: "Playfair Display", serif;
  }
  .parrafo h3{
    font-size: 1.5rem;
    padding: 20px 82px;
  }
  .parrafo p{
    padding: 6px 37px;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
  
  }
  
  /* Section two */
  .timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .containerr{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  @keyframes movedown {
    0%{
      transform: translateY(-30px);
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .containerr:nth-child(1){
   animation-delay: 0s;
  }
  .containerr:nth-child(2){
    animation-delay: 1s;
   }
   .containerr:nth-child(3){
    animation-delay: 2s;
   }
    .containerr:nth-child(4){
      animation-delay: 3s;
    }
    .containerr:nth-child(5){
      animation-delay: 4s;
    }
    .containerr:nth-child(6){
      animation-delay: 5s;
    }
    .containerr:nth-child(7){
      animation-delay: 6s;
    }
    .containerr:nth-child(8){
      animation-delay: 7s;
    }
    .containerr:nth-child(9){
      animation-delay: 8s;
    }
    .containerr:nth-child(10){
      animation-delay: 9s;
    }
    .containerr:nth-child(11){
      animation-delay: 10s;
    }
  .text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  .left-container{
   left: 0;
  }
  .right-container{
    left: 50%;
  }
  .containerr img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container img{
    left: -20px;
  }
  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }
  .text-box h2{
    font-weight: 600;
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 15px;
  }
  
  /* Section tree*/
  .container-tarjetas{
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordion-header img{
    width: 33px;
  }
  /* Acordeon*/
  .accordion {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .accordion-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .accordion-header img {
    margin-right: 10px;
  }
  .accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
    font-size: 1.3rem;
    transition: height 0.6s ease;
  }
  .active .accordion-content {
    display: block;
  }
  .accordion-section.active .accordion-content {
    height: auto;
    transition: height 0.6s ease;
}
  @media screen  and (max-width: 600px){
    .timeline{
      margin: 50px auto;
    }
    .timeline::after{
     left: 31px;
    }
    .containerr{
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-container{
      left: 0;
    }
    .left-container img , .right-container img{
      left: 10px;
    }
    .left-container-arrow,
    .right-container-arrow{
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #fff;
      left: 65px;
      position: absolute;
      top: 14px;
  
  }
  }
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .nav__item--extra {
      flex-grow: 2;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  }
  /* Estilos para tablets */
  @media (min-width: 768px) {
 
  }
  

/* Proyecto Educativo */
.ideario {
    position: relative;
    background-image: radial-gradient(rgba(0, 0, 0, 0.87), rgba(10, 2, 9, 0.636)), url('/assets/images/niñas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 20px;
}

.accordion-ideario {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.accordion-section-ideario {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion-header-ideario {
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 20px;
}

.accordion-header-ideario img {
    width: 20px;
    margin-right: 10px;
}

.accordion-content-ideario {
    height: 0;
    padding: 0 15px;
    background-color: white;
    font-size: 1.3rem;
    overflow: hidden;
    transition: height 0.6s ease;
}

.accordion-section-ideario.active .accordion-content-ideario {
    height: auto;
    padding: 15px; 
}
