.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-itemm {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;

}

.carousel-itemm img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.carousel-itemm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.497), rgba(0, 0, 0, 0.442));
    z-index: 1;
}

.carousel-content {
    position: absolute;  
    color: white;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-content h1 {
    font-size: 2em;

}

.carousel-content button {
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: #27642E;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: none;
    cursor: pointer;
    width: 150px;
    height: 45px;
    margin-left: 30px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
/* Navbar Section */
#navbar {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1000000;
    transition: background-color 0.3s ease;
    height: 80px;
    position: fixed !important;
    top: 0;
    background-color: #0A375F;
    cursor: pointer;
}

.home img{
    width: 72px;
    height: 90%; 
    margin-right: 10px;
     

}   
.navbar-links{
    display: none;
}
.menu-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}
.fa-solid  {
    width: 15px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px ;
    height: 100%;
    cursor: pointer;
    font-size: 30px;
   }

.home a,
.navbar-links li a {
text-decoration: none;
color: whitesmoke;
font-family: "roboto", sans-serif;
font-size: 1.2rem;
font-weight: bold;
text-transform: uppercase;
/* opacity: 0.5; */
letter-spacing: 1px;
}

/* Open and close menu */
#navbar:target .navbar-links {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
height: 100vh;
width: 100%;
padding: 20px;
margin: 0;
background-color: #0A375F;
justify-content: center;
list-style: none;
position: relative;
top: -10px;
color: whitesmoke;
}
.navbar-links li a:hover{
    color: #ED920E;

}
#navbar:target .open {
display: none;
}
#navbar:target .close {
display: block;
}
.close {
display: none;
}
.nav.scrolled {
    background-color: #E0DEDE;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2); /* Ajusta la sombra si es necesario */
}
.navbar-links li a img{
   display: none;
}
.redes-sociales li img{
    width: 30px;
}
/* Dropdown styles */
/* Navbar Links Styling */
.navbar-links li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}



.dropdown-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown-toggle{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
/* Asegúrate de que el dropdown se muestre correctamente */
.navbar-links .dropdown-menu {
  display: none; /* Oculto por defecto */
}

.navbar-links .dropdown:hover .dropdown-menu {
  display: block; /* Muestra el menú al hacer hover */
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    background-color: #27642E; 
    color: white; 
    border: none; 
    border-radius: 12px; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    outline: none; 
    box-shadow: none; 
   
}
.button:hover {
    background-color: #218838; /* Verde más oscuro en hover */
    transform: scale(1.05); /* Efecto de aumento */
}

.button:focus {
    outline: none; /* Asegura que no haya contorno en el foco */
}
.hero-content h1{
    font-size: 2.5rem;
    padding: 20px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container-title{
    line-height: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 2rem;
    font-family: "Lato", serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
}
.subtitle{
    padding: 19px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
    font-size: 2.3rem;
}
.parrafo{
    padding: 19px;
    font-size: 1.5rem;
}
.button a{
    text-decoration: none;
    color: white;
}

/* Section Dos */
.seccion-dos{
    padding: 5px;
}
.title-dos{
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding: 20px;
    margin-bottom: 14px;
    margin-top: 48px;
    color: white;
}
.container-dos{ 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: relative;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 46%) 80%, rgba(10, 2, 9, 0.241)), url(/assets/images/personalizada.jpg);
    border-radius: 20px;
    padding: 20px;

}
.imagen-uno img{
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;
    
}
.imagen-uno::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.379), rgba(0, 0, 0, 0.5)); 
    pointer-events: none; 
}
.parrafo-dos{
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}

/* Section tres */
.seccion-tres{
    padding: 5px;
    margin-top: 50px;
}
.container-tres{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    background-image: radial-gradient(rgba(0, 0, 0, 0.755), rgba(10, 2, 9, 0.636)), url('/assets/images/fundacion.jpeg');
    border-radius: 20px;
    padding: 20px;

}
/* Section Cuatro */
.container-cuatro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.tarjetas{
    background-color: white;
    padding: 20px;
    width: 250px;
    height:250px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.tarjetas figure img{
    width: 60px;
    height: 100%;
    
}
.tarjetas:hover{

    box-shadow: 0 0 10px #0A375F;
    transition: 0.5s;
    
}

/* Section Cinco */
.container-cinco{
    background-color: #0A375F;
    width: 100%;
    height:290px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.uno{
    color: white;
    padding: 5px;
    font-size: 1rem;
    font-family: "Playfair Display", serif;

}
.uno h3{
    font-size: 2rem;
    color: #ED920E;
    font-weight: bold;
    font-family: "Playfair Display", serif;

}
.uno h5{
    font-size: 1.1rem;
    
}
.dos{
    color: white;
    padding: 20px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.dos h3{
    font-size: 2rem;
    color: #ED920E;
    font-family: "Playfair Display", serif;


}
.dos h5{
    font-size: 1.1rem;

}
/* Section seis */
.container-title-seis{
    line-height: 18px;
    font-family: "Playfair Display", serif;

}
.title-seis{
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: black;
}

.subtitle-seis{
    padding: 19px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
}
.container-seis{
  display: flex;
}
.tarjetas-seccion-seis{
    background-color: white;
    padding: 20px;
    width: 97%;
    height:auto;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
}
.tarjeta-seccion-seis{
    background-color: white;
    border: 2px solid #0A375F; 
    padding: 20px;
    width: 80%;  
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.tarjeta-seccion-seiss{
    background-color: white;
    border: 2px solid #0A375F; 
    padding: 20px;
    width: 80%;  
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}
.tarjeta-seccion-seiss:hover{
    background-color: #0A375F ;
    color: white;
    transform: scale(1.1);
}
/* Sección siete*/
.container-siete{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    padding: 20px;
}
.container-siete figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.container-siete figure img{
    margin-top: 30px;
    width: 260px;
    height: 100%;
    border-radius: 20px;
}
/* Seccion Ocho */
/* .seccion-ocho{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.tarjeta-ocho{
    background-color: white;
    padding: 20px;
    width: 250px;
    height:250px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    gap: 15px;
} */
/* Estilos para la sección */
.seccion-ocho {
    padding: 20px;
  }
  
  .container-ocho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  
  }
  
  .tarjeta-ocho {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 35px;
    background-color: white;
  }
  .carousel-dos {
    display: flex;
    width: 100%;
    position: relative;
  
  }
  .carousel-item-dos {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }
  .carousel-item-dos img {
    width: 160px;
    height: auto;
  }
  
/* Footer */

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #0A375F;
    border-top: 1px solid #e5e5e5;
    color: whitesmoke;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  .footer__logo img{
    width: 150px;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
    flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }


  #subtitulo {
    display: none;
    font-size: 14px;
    color: #666;
  }

  #popup {
    display: none;
    position: absolute;
    background-color: #ede8e8;
    border: 1px solid #ccc;
    padding: 70px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 500px;
    border-radius: 10px;
    font-size: 1.01rem;
  }




/* Nosotros */

/* Section one */
.title-centro{
  display: flex;
  justify-content: flex-start;

  flex-direction: column;
}
.title-dos-nosotros{
  
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: #333;;
  }
  .images{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .images img{
    width: 400px;
    height: 100%;
    border-radius: 20px;
  }
/*   section {
    margin-top: 80px; 
  } */
  .subtitle{
    margin: 15px 0;
    padding: 10px 23px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
    font-family: "Playfair Display", serif;
  }
 /*  .parrafo h3{
    font-size: 1.5rem;
    padding: 20px 6px;
    margin-top: 70px;
    color: #ED920E;
  } */
  .parrafo p{
    padding: 6px 37px;
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
  
  }
  
  /* Section two */
/*   .timeline-section-dos{
    border-radius: 20px;  
  
    background-color: #0A375F; 
  } */
  .timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }
  .containerr{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
  }
  @keyframes movedown {
    0%{
      transform: translateY(-30px);
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }
  .containerr:nth-child(1){
   animation-delay: 0s;
  }
  .containerr:nth-child(2){
    animation-delay: 1s;
   }
   .containerr:nth-child(3){
    animation-delay: 2s;
   }
    .containerr:nth-child(4){
      animation-delay: 3s;
    }
    .containerr:nth-child(5){
      animation-delay: 4s;
    }
    .containerr:nth-child(6){
      animation-delay: 5s;
    }
    .containerr:nth-child(7){
      animation-delay: 6s;
    }
    .containerr:nth-child(8){
      animation-delay: 7s;
    }
    .containerr:nth-child(9){
      animation-delay: 8s;
    }
    .containerr:nth-child(10){
      animation-delay: 9s;
    }
    .containerr:nth-child(11){
      animation-delay: 10s;
    }
  .text-box{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }
  .left-container{
   left: 0;
  }
  .right-container{
    left: 50%;
  }
  .containerr img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }
  .right-container img{
    left: -20px;
  }
  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline {
    0%{
      height: 0;
    }
    100%{
      height: 100%;
    }
  }
  .text-box h2{
    font-weight: 600;
    color: #0A375F;
  }
  .text-box small{
    display: inline-block;
    margin-bottom: 15px;
  }
  
  /* Section tree*/
  .container-tarjetas{
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accordion-header img{
    width: 33px;
  }
  /* Acordeon*/
  .accordion {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  .accordion-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .accordion-header img {
    margin-right: 10px;
  }
  .accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
    font-size: 1.3rem;
    transition: height 0.6s ease;
  }
  .active .accordion-content {
    display: block;
  }
  .accordion-section.active .accordion-content {
    height: auto;
    transition: height 0.6s ease;
}
  @media screen  and (max-width: 600px){
    .timeline{
      margin: 50px auto;
    }
    .timeline::after{
     left: 31px;
    }
    .containerr{
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
    }
    .text-box{
      font-size: 13px;
    }
    .text-box small{
      margin-bottom: 10px;
    }
    .right-container{
      left: 0;
    }
    .left-container img , .right-container img{
      left: 10px;
    }
    .left-container-arrow,
    .right-container-arrow{
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #fff;
      left: 65px;
      position: absolute;
      top: 36px;
  
  }
  .date{
    font-size: 1.1rem;
    color:#ED920E;
    font-weight: bold;

  }
/*   .date-right,
  .date-left {
    font-size: 1rem;
    position: absolute;
    right: 82%; 
} */
  }
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
  
    .nav__item--extra {
      flex-grow: 2;
    }
  
    .footer__addr {
      flex: 1 0px;
    }
  
    .footer__nav {
      flex: 2 0px;
    }
  }
  /* Estilos para tablets */
  @media (min-width: 768px) {
 
  }
  

/* Proyecto Educativo */
.ideario {
    position: relative;
    background-image: radial-gradient(rgba(0, 0, 0, 0.87), rgba(10, 2, 9, 0.636)), url('/assets/images/niñas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 20px;
}

.accordion-ideario {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.accordion-section-ideario {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion-header-ideario {
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-weight: 100;
    gap: 20px;
}

.accordion-header-ideario img {
    width: 20px;
    margin-right: 10px;
}

.accordion-content-ideario {
    height: 0;
    padding: 0 15px;
    background-color: white;
    font-size: 1.3rem;
    overflow: hidden;
    transition: height 0.6s ease;
}

.accordion-section-ideario.active .accordion-content-ideario {
    height: auto;
    padding: 15px; 
}




.ideario-dos {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: sans-serif;
 
   background-color: #f1f1f1;  
}

.container-ideario {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-ideario .card {
  position: relative;
  border-radius: 10px;
}

.container-ideario .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ED920E;
  transition: 0.7s;
  z-index: 1;
}

.container-ideario .card:nth-child(1) .icon {
  background:#ED920E;
}

.container-ideario .card:nth-child(2) .icon {
  background: #ED920E;
}

.container-ideario .card:nth-child(3) .icon {
  background: #ED920E;
}


.container-ideario .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.7s;
  color: #fff;
  display: flex;
}
.p-dos{
  position: absolute;  
  transform: translate(-50%, -50%);
  font-size: 4px;
  transition: 0.7s;
  color: #fff;
  display: flex;
}
.container-ideario .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container-ideario .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container-ideario .card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.container-ideario .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.container-ideario .card:hover .face.face1 .content {
  opacity: 1;
}

.container-ideario .card .face.face1 .content i{
  max-width: 100px;
}

.container-ideario .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.container-ideario .card:hover .face.face2{
  transform: translateY(0);
}

.container-ideario .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
  font-size: 18px;
}
.container-ideario .card .face.face2 .content .p-dos{
  font-size: 13px;
}
.container-ideario .card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container-ideario a {
  text-decoration: none;
  color: #414141;
}


.accordion-section-ideario.open {
  background-color: #0A375F; /* Cambia el color de fondo cuando está abierto */
  border-left: 4px solid #ED920E;
  ; /* Agrega un borde o algún estilo especial */
}
/* Nosotros pagina*/


.title-dos-nosotros-proyecto{
  font-size: 2rem;
    font-family: "Playfair Display", serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 40px;
    color: #ffffff;;
}

/* carousel nosotros*/
#carouselExampleIndicators {
  max-width: 800px; /* Ajustar el ancho máximo */
  height: 700px; /* Ajustar la altura máxima */
  margin: 0 auto; /* Centramos el carrusel */
}

/* Aseguramos que las imágenes se ajusten correctamente al nuevo tamaño del carrusel */
.carousel-item img {
  height: 100%; /* La imagen ocupa toda la altura del carrusel */
  object-fit: cover; /* Ajustar las imágenes para que mantengan su proporción */
}
/* Las Retamas Page */

.header-las-retamas {
  background-image:linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.319)), url('/assets/images/oliva.jpeg'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  position: relative;
  color: white; /* Color del texto */
}

.title-de-nosotros {
  z-index: 1; 
}
.subtitle-mision{
  margin: 15px 0;
  padding: 0px 23px;
  font-size: 2.3rem;
  margin-top: 0px;
  color: #ED920E;
  font-family: "Playfair Display", serif;
}

.subtitle {
  font-size: 2.3rem;
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}
.subtitle-ideario{
   margin: 15px 0;
  padding: 0px 23px;
  font-size: 2.3rem;
  margin-top: 0px;
  color: #ED920E;
  font-family: "Playfair Display", serif;
}
.seccion-dos-las-retamas {
  padding: 20px;
}

.container-dos-las-retamas {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.foto-las-retamas img {
  margin: 0;
  padding: 10px;
  width: 400px;
  border-radius: 20px;

}

.contenido-las-retamas {
  padding: 10px;
  text-align: justify;
}


/* Estilos básicos para la sección */
.seccion-tres-las-retamas {
  padding: 20px;
}

.container-title {
 margin-bottom: 20px;
}

/* .title {
  font-size: 1.5rem;
}

.subtitle {
  font-size: 2rem;
} */

/* Contenedor para la imagen y el contenido */
.container-tres-las-retamas {
  display: flex;
  flex-direction: column; /* Por defecto en móvil, columna (texto primero, luego imagen) */
  align-items: center;
}

.contenido-las-retamas-dos {
  padding: 10px;
  text-align: center;
}



/* Estilos generales */
.seccion-tres-las-retamas {
  padding: 20px;
}
/* 
.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 2rem;
} */

/* Contenedor principal en móviles - contenido arriba y luego imagen */
.container-tres-las-retamas {
  display: flex;
  flex-direction: column; /* Dirección en columna por defecto */
  align-items: center;
}

.contenido-las-retamas-dos {
  padding: 10px;
  text-align: center;
}
.cfr-proyectos{
      display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-proyectos{
  background-color: white;
  padding: 20px;
  width: 250px;
  height:250px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 15px;
}
.card-figure{
  display: flex;
  justify-content: center;  
  align-items: center;
}
.card-figure img{
  width: 48px;
}
.container-proyectos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


/* Timeline*/
.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/* Timeline Styles */
.timelinee {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timelinee h1, .timelinee h2, .timelinee h3, .timelinee h4, .e h5, .timelinee h6 {
  line-height: inherit;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #ED920E;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #FF6B6B;
}

.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  width: 15px;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/* Timeline Split */
.timeline-split {
  display: table;
}
.timeline-split .timeline-item {
  display: table-row;
  padding: 0;
}
.timeline-split .timeline-info, .timeline-split .timeline-marker, .timeline-split .timeline-content {
  display: table-cell;
  vertical-align: top;
}
.timeline-split .timeline-marker {
  position: relative;
}
.timeline-split .timeline-content {
  padding-left: 30px;
}
.timeline-split .timeline-info {
  padding-right: 30px;
}
.timeline-split .period .timeline-title {
  position: relative;
  left: -45px;
}

/* Timeline Centered */
.timeline-centered {
  display: block;
  margin: 0;
  padding: 0;
}
.timeline-centered .timeline-item {
  padding-bottom: 40px;
  overflow: hidden;
}
.timeline-centered .timeline-marker {
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
}
.timeline-centered .timeline-info, .timeline-centered .timeline-content {
  width: 50%;
}
.timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
  float: left;
  text-align: right;
  padding-right: 30px;
}
.timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
  float: right;
  text-align: left;
  padding-left: 30px;
}
.timeline-centered > .timeline-item:nth-child(even) .timeline-info {
  float: right;
  text-align: left;
  padding-left: 30px;
}
.timeline-centered > .timeline-item:nth-child(even) .timeline-content {
  float: left;
  text-align: right;
  padding-right: 30px;
}
.timeline-centered > .timeline-item.period .timeline-content {
  float: none;
  padding: 0;
  width: 100%;
  text-align: center;
}
.timeline-centered .timeline-item.period {
  padding: 50px 0 90px;
}
.timeline-centered .period .timeline-marker:after {
  height: 30px;
  bottom: 0;
  top: auto;
}
.timeline-centered .period .timeline-title {
  left: auto;
}

/* Marker Outline */
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

/* video las retamas*/

.container-siete video{
  width: 248px;
}
.container-siete{
  display: flex;
  justify-content: center;   
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.container-cards-colaborar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.card-colaborar{
  background-color: white;
  padding: 20px;
  width: 250px;
  height:250px;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid #ED920E;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 15px;
}
.contacto-img img{
  width: 200px;
}
.contacto {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: space-between; /* Añade espacio entre los elementos */
}

.contacto-img {
  margin-right: 20px; /* Añade espacio entre la imagen y el logo de Instagram */
}

.contacto-social {
  margin-right: 25px;
  padding: 7px 10px;
}

.contacto-social img {
  margin-right: 10px;
  width: 70px;/* Espacio entre el logo y el texto */
}
.direccion{
  padding: 5px 10px;
}