@import url('/css/mobile.css');
/* @import url('/css/') screen and (min-width: 768px);
@import url('./desktop.css') screen and (min-width: 1024px); */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #e0dede;
    color: #333;
    line-height: 1.2;
    font-size: 0.9rem;   
}