@media screen and (min-width: 1024px){
.foto-las-retamas img{
    width: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    transition: all 0.3s;
}
.parrafo-mision,
.parrafo-vision{
    font-size: 1.2rem;
}
.timeline-info span{
    font-size: 1.2rem;
}
.parrafo-cfr{
    font-size: 1.2rem;
}
/* Las Retamas */
.foto-las-retamas img {
    width: 100%;
  }
  .parrafo-mision, .parrafo-vision,
      .parrafo-cfr {
    font-size: 1.2rem;
}
}
@media screen and (min-width: 1440px){
.container-proyectos {
    display: flex;
    flex-direction: row;
    
  } 
}