/* Navbar Section */
#navbar-cfr {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    z-index: 1000000;
    transition: background-color 0.3s ease;
    height: 80px;
    top: 0;
    background-color: #0A375F;
    cursor: pointer;
}

.home-cfr img {
    width: 72px;
    height: 90%;
    margin-right: 10px;
}

.navbar-links-cfr {
    display: none;
}

.menu-icon-cfr {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-right: 10px;
}

.fa-solid {
    width: 15px;
    height: 30px;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 30px;
}

.home-cfr a,
.navbar-links-cfr li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Open and close menu */
#navbar-cfr:target .navbar-links-cfr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: #0A375F;
    list-style: none;
    position: relative;
    top: 0;
    color: whitesmoke;
}

.navbar-links-cfr li a:hover {
    color: #ED920E;
}

#navbar-cfr:target .open {
    display: none;
}

#navbar-cfr:target .close {
    display: block;
}

.close {
    display: none;
}

.nav-cfr.scrolled {
    background-color: #E0DEDE;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}

.navbar-links-cfr li a img {
    display: none;
}

.redes-sociales-cfr li img {
    width: 30px;
}


.header-las-retamas {
  background-image: linear-gradient(rgb(0 0 0 / 16%), rgb(0 0 0 / 33%)), url(/assets/images/retamas.jpeg);    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    position: relative;
    color: white; /* Color del texto */
  }

  .title-de-nosotros {
    z-index: 1;
  }

/* Estilos para el contenedor semitransparente */
.title-de-nosotros {
  position: relative;
  width: 90%;
  height: 48%;
  background-color: rgba(10, 55, 95, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 20px auto;
}
/* Estilo del texto */
.subtitle-cfr {
  color: white; /* Texto blanco */
  font-size: 20px; /* Tamaño del texto */
  text-align: center;
  z-index: 1; /* Asegura que el texto esté encima del fondo */
}

  .subtitle-mision{
    margin: 15px 0;
    padding: 0px 23px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;

  }
  .subtitle-vision{
    margin: 15px 0;
    padding: 0px 23px;
    font-size: 2.3rem;
    margin-top: 0px;
    color: #ED920E;
    font-family: "Playfair Display", serif;
  }
  .subtitle {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    margin-top: -13px;
  }
  .subtitle-testimonio{
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    margin-top: 40px;
    color: #ED920E;
    display: flex;
    justify-content: center;
  }

  .seccion-dos-las-retamas {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 0 10px;
  }

  .container-dos-las-retamas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .foto-las-retamas img {
    margin: 0;
    padding: 10px;
    width: 400px;
    border-radius: 20px;

  }



  /* Estilos básicos para la sección */
  .seccion-tres-las-retamas {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 60px auto;
  }

  .container-title {
   margin-bottom: 5px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  /* Contenedor para la imagen y el contenido */
  .container-tres-las-retamas {
    display: flex;
    flex-direction: column; /* Por defecto en móvil, columna (texto primero, luego imagen) */
    align-items: center;
  }

  .contenido-las-retamas-dos {
    padding: 10px;
    text-align: center;
  }



  /* Estilos generales */
  .seccion-tres-las-retamas {
    padding: 20px;
    margin:  100px 10px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  /* Contenedor principal en móviles - contenido arriba y luego imagen */
  .container-tres-las-retamas {
    display: flex;
    flex-direction: column; /* Dirección en columna por defecto */
    align-items: center;
  }

  .contenido-las-retamas-dos {
    padding: 10px;
    text-align: center;
  }
  .cfr-proyectos{
      margin: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .cfr-proyectos  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .card-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 221px;
    width: 100%;
    text-align:left;
    height: 229px;
  }

  .card-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; /* Ajusta el tamaño de la figura según sea necesario */
  }

  .card-figure img {
    max-height: 100%; /* Esto asegurará que la imagen no sobrepase el contenedor */
    max-width: 50%;
  }
.card-midle{
  position: relative;
  top: -14%;
}
  .content-card {
    margin-top: 15px;
  }
  .midle-content{
    position: relative;
    top: -17%;
  }
.cardd{
  width: 250px;
}
  .container-proyectos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Controla el espacio entre las tarjetas */
    flex-wrap: wrap;
  }
  /* Timeline*/
  .example-header {
    background: #3D4351;
    color: #FFF;
    font-weight: 300;
    padding: 3em 1em;
    text-align: center;
  }
  .example-header h1 {
    color: #FFF;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .example-header p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
  }

  .container-fluid .row {
    padding: 0 0 4em 0;
  }
  .container-fluid .row:nth-child(even) {
    background: #F1F4F5;
  }

  .example-title {
    text-align: center;
    margin-bottom: 60px;
    padding: 3em 0;
    border-bottom: 1px solid #E4EAEC;
  }
  .example-title p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }

  /* Timeline Styles */
  .timelinee {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .timelinee h1, .timelinee h2, .timelinee h3, .timelinee h4, .e h5, .timelinee h6 {
    line-height: inherit;
  }

  .timeline-item {
    padding-left: 40px;
    position: relative;
  }
  .timeline-item:last-child {
    padding-bottom: 0;
  }

  .timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 .5em 0;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
  }
  .timeline-marker:before {
    background: #ED920E;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  }
  .timeline-marker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
  }
  .timeline-item:last-child .timeline-marker:after {
    content: none;
  }

  .timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid #FF6B6B;
  }

  .timeline-content {
    padding-bottom: 40px;
  }
  .timeline-content p:last-child {
    margin-bottom: 0;
  }

  .period {
    padding: 0;
  }
  .period .timeline-info {
    display: none;
  }
  .period .timeline-marker:before {
    background: transparent;
    width: 15px;
    border: none;
    border-radius: 0;
    top: 0;
    bottom: 30px;
    position: absolute;
    border-top: 3px solid #CCD5DB;
    border-bottom: 3px solid #CCD5DB;
  }
  .period .timeline-marker:after {
    content: "";
    height: 32px;
    top: auto;
  }
  .period .timeline-content {
    padding: 40px 0 70px;
  }
  .period .timeline-title {
    margin: 0;
  }

  /* Timeline Split */
  .timeline-split {
    display: table;
  }
  .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-split .timeline-marker, .timeline-split .timeline-content {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title {
    position: relative;
    left: -45px;
  }

  /* Timeline Centered */
  .timeline-centered {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info, .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }

  /* Marker Outline */
  .marker-outline .timeline-marker:before {
    background: transparent;
    border-color: #FF6B6B;
  }
  .marker-outline .timeline-item:hover .timeline-marker:before {
    background: #FF6B6B;
  }

  /* video las retamas*/

  .container-siete video{
    width: 248px;
  }
  .container-siete{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .container-cards-colaborar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card-colaborar{
    background-color: white;
    padding: 20px;
    width: 250px;
    height:250px;
    border-radius: 20px;
    margin: 20px;
    border: 1px solid #ED920E;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 15px;
  }
  .contacto-img img{
    width: 200px;
  }
  .contacto {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between; /* Añade espacio entre los elementos */
  }

  .contacto-img {
    margin-right: 20px; /* Añade espacio entre la imagen y el logo de Instagram */
  }

  .contacto-social {
    margin-right: 25px;
    padding: 7px 10px;
  }

  .contacto-social img {
    margin-right: 10px;
    width: 70px;/* Espacio entre el logo y el texto */
  }
  .direccion{
    padding: 5px 10px;
  }

  .container-title{
    line-height: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-size: 2rem;
    font-family: "Lato", serif;
    padding: 20px;
    margin-bottom:-31px;
    margin-top: 48px;
    color: #333333;
}
.subtitle{
  padding: 11px 38px;
  font-size: 2.3rem;
  margin-top: 0px;
  color: #ED920E;
}
.subtitlee{
  display: flex;
  justify-content: center;

  padding: 41px 38px;
  font-size: 2.3rem;
  margin-top: 0px;
  color: #ED920E;
  font-family: "Lato", serif;

}
.subtitleee{
  display: flex;
  flex-direction: column;
  align-items: center;
/*   padding: 41px 38px;
 */      padding: 12px 38px;
  font-size: 2.3rem;
  margin-top: 0px;
  color: #ED920E;
  font-family: "Lato", serif;
}
.subtitle-cfr{
    padding: 19px;
    font-size: 3rem;
    margin-top: 0px;
    color: #ED920E;
}
.parrafo{
    padding: 19px;
    font-size: 1.5rem;

    font-family: 'Lato', sans-serif;
}

.parrafo-vision,
.parrafo-mision{
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
   
}

.container-title{
    line-height: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.seccion-dos{
    padding: 5px;
}
.title-dos{
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 48px;
    color: white;
}
.container-dos{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.356) 80%, rgba(10, 2, 9, 0.241)), url('/assets/images/Poner\ primera.jpg');
    border-radius: 20px;
    padding: 20px;
}
.imagen-uno img{
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));;

}
.imagen-uno::before {
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    pointer-events: none;
}
.parrafo-dos{
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}
.parrafo-cfr{
    font-family: "Lato", sans-serif;
    padding: 0 37px;
    margin-bottom: 44px;
    font-size: 1.5rem;
}
.container-cfr  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
}

.content-cfr {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: 'Merriweather', serif;
}
.timeline-section-dos-cfr{
  background-color: white;
  border-radius: 20px;
}
.seccion-ocho {
  padding: 20px;
}

.container-ocho {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}

.tarjeta-ocho {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 35px;
  background-color: white;

}
.carousel-doss {
  display: flex;
  width: 100%;
  position: relative;

}
.carousel-item-doss {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.carousel-item-doss img {
  width: 160px;
  height: auto;
}


  /* footer*/

.footer-cfr{
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #0A375F;
    border-top: 1px solid #e5e5e5;
    color: whitesmoke;
  }

  .footer-cfr > * {
    flex:  1 100%;
  }

  .footer-cfr__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .footer-cfr__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  .footer-cfr__logo img{
    width: 150px;
  }

  .footer-cfr__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }

  .nav-cfr__title {
    font-weight: 400;
    font-size: 15px;
  }

  .footer-cfr address {
    font-style: normal;
    color: #999;
  }

  .footer-cfr__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }

  .footer-cfr ul {
    list-style: none;
    padding-left: 0;
  }

  .footer-cfr li {
    line-height: 2em;
  }

  .footer-cfr a {
    text-decoration: none;
  }

  .footer-cfr__nav {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
  }

  .footer-cfr__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }

  .nav-cfr__ul a {
    color: #999;
  }

  .nav-cfr__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }

  .legal-cfr {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }

  .legal__links {
    display: flex;
    align-items: center;
  }

  .heart {
    color: #2f2f2f;
  }

  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }

  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }

    .nav__item--extra {
      flex-grow: 2;
    }

    .footer__addr {
      flex: 1 0px;
    }

    .footer__nav {
      flex: 2 0px;
    }
  }
/* Donar */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  border: 1px solid var(--color--yelow);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 16px;
  color: #666;
}


.card-button {
  padding: 10px 20px;
  background-color: var(--color--yellow);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card:hover {
  border:1px solid var(--color--yellow) ;
}

/* Desktop styles */
@media (min-width: 768px) {
  .card-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    flex: 1;
    margin: 0 10px;
  }
}


/* Proyecto las retamas */
.ideario {
  position: relative;
  background-image: radial-gradient(rgba(0, 0, 0, 0.87), rgba(10, 2, 9, 0.636)), url('/assets/images/_MCL1113705\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-ideario {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.accordion-section-ideario {
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header-ideario {
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 100;
  gap: 20px;
}

.accordion-header-ideario img {
  width: 20px;
  margin-right: 10px;
}

.accordion-content-ideario {
  height: 0;
  padding: 0 15px;
  background-color: white;
  font-size: 1.3rem;
  overflow: hidden;
  transition: height 0.6s ease;
}

.accordion-section-ideario.active .accordion-content-ideario {
  height: auto;
  padding: 15px;
}




.ideario-dos {
margin: 0;
padding: 0;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;

 background-color: #f1f1f1;
}

.container-ideario {
width: 100%;
position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.container-ideario .card {
position: relative;
border-radius: 10px;
}

.container-ideario .card .icon {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #ED920E;
transition: 0.7s;
z-index: 1;
}

.container-ideario .card:nth-child(1) .icon {
background:#ED920E;
}

.container-ideario .card:nth-child(2) .icon {
background: #ED920E;
}

.container-ideario .card:nth-child(3) .icon {
background: #ED920E;
}


.container-ideario .card .icon .fa {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 80px;
transition: 0.7s;
color: #fff;
}

.p {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 30px;
transition: 0.7s;
color: #fff;
display: flex;
}
.p-dos{
position: absolute;
transform: translate(-50%, -50%);
font-size: 4px;
transition: 0.7s;
color: #fff;
display: flex;
}
.container-ideario .card .face {
width: 300px;
height: 200px;
transition: 0.5s;
}

.container-ideario .card .face.face1 {
position: relative;
background: #333;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
transform: translateY(100px);
}

.container-ideario .card:hover .face.face1{
background: #ff0057;
transform: translateY(0px);
}

.container-ideario .card .face.face1 .content {
opacity: 1;
transition: 0.5s;
}

.container-ideario .card:hover .face.face1 .content {
opacity: 1;
}

.container-ideario .card .face.face1 .content i{
max-width: 100px;
}

.container-ideario .card .face.face2 {
position: relative;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
box-sizing: border-box;
box-shadow: 0 20px 50px rgba(0,0,0,0.8);
transform: translateY(-100px);
}

.container-ideario .card:hover .face.face2{
transform: translateY(0);
}

.container-ideario .card .face.face2 .content p {
margin: 0;
padding: 0;
text-align: center;
color: #414141;
font-size: 18px;
}
.container-ideario .card .face.face2 .content .p-dos{
font-size: 13px;
}
.container-ideario .card .face.face2 .content h3 {
margin: 0 0 10px 0;
padding: 0;
color: #fff;
font-size: 24px;
text-align: center;
color: #414141;
}

.container-ideario a {
text-decoration: none;
color: #414141;
}


.accordion-section-ideario.open {
background-color: #0A375F; /* Cambia el color de fondo cuando está abierto */
border-left: 4px solid #ED920E;
; /* Agrega un borde o algún estilo especial */
}
.parrafo-cfr  a {
  color: #0A375F;
}
/* Time line */
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.containerr{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0%{
    transform: translateY(-30px);
    opacity: 1;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.containerr:nth-child(1){
 animation-delay: 0s;
}
.containerr:nth-child(2){
  animation-delay: 1s;
 }
 .containerr:nth-child(3){
  animation-delay: 2s;
 }
  .containerr:nth-child(4){
    animation-delay: 3s;
  }
  .containerr:nth-child(5){
    animation-delay: 4s;
  }
  .containerr:nth-child(6){
    animation-delay: 5s;
  }
  .containerr:nth-child(7){
    animation-delay: 6s;
  }
  .containerr:nth-child(8){
    animation-delay: 7s;
  }
  .containerr:nth-child(9){
    animation-delay: 8s;
  }
  .containerr:nth-child(10){
    animation-delay: 9s;
  }
  .containerr:nth-child(11){
    animation-delay: 10s;
  }
.text-box{
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(8, 3, 3, 0.5);
}
.left-container{
 left: 0;
}
.right-container{
  left: 50%;
}
.containerr img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img{
  left: -20px;
}
.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
.date{
  font-size: 1.1rem;
  color:#ED920E;
  font-weight: bold;

}
@keyframes moveline {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}
.text-box h2{
  font-weight: 600;
  color: #0A375F;
}
.text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
@media screen  and (max-width: 600px){
  .timeline{
    margin: 50px auto;
  }
  .timeline::after{
   left: 31px;
  }
  .containerr{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box{
    font-size: 13px;
  }
  .text-box small{
    margin-bottom: 10px;
  }
  .right-container{
    left: 0;
  }
  .left-container img , .right-container img{
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: 65px;
    position: absolute;
    top: 36px;

}
.date{
  font-size: 1.1rem;
  color:#ED920E;
  font-weight: bold;
}}

.button{
  background-color: #27642E;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
  box-shadow: none;

}
.button:hover {
  background-color: #218838; /* Verde más oscuro en hover */
  transform: scale(1.05); /* Efecto de aumento */
}

.button:focus {
  outline: none; /* Asegura que no haya contorno en el foco */
}
.donar{
  margin: 50px auto;
}
.br{
  display: none;
}
@media screen and (min-width: 320px) {
  .foto-las-retamas img {
    margin: 0;
    padding: 10px;
    width: 292px;
    border-radius: 20px;
}
.br{
  display: block;
}
}
.figure{
  display: flex;
  margin: 20px auto;

}
.figure img{
  width: 50px;
  cursor: pointer;
}


/* Estilo del modal */
.modall {
  display: none; /* Ocultarlo por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Habilitar el desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
}

.modal-contentt {
  position: relative;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
 /*  max-width: 800px;
  max-height: 90vh; */
  overflow: hidden;
}

/* Imágenes dentro del modal */
.modal-image {
  width: 100%;
  display: none;
  margin-top: 89px;
}

/* Botón de cierre */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

/* Navegación de imágenes */
.modal-navigation {
  text-align: center;
  margin-top: 20px;
}

.nav-button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #0056b3;
}


.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
/* Las margaritas */
.header-las-margaritas{
  background-image:linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.582)), url('/assets/images/las-margaritas-dos.jpg'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  position: relative;
  color: white; /* Color del texto */
}
dl-blurbs {
  display: grid;
}

@media (min-width: 768px) {
  .dl-blurbs {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}

/* DL Styles */
dl {
  counter-reset: count;
  background: var(--dl-gradient-right);
 padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}

@media (min-width: 768px) {
  dl {
    padding-left: 2vw;
  }
}

@media (min-width: 1024px) {
  dl {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

dl + dl {
  counter-reset: count 4;
}

dt {
  counter-increment: count;
  color: var(--color-cadet);
  font-family: var(--font-primary);
  font-size: 2rem;
  text-transform: uppercase;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: var(--font-heading);
  color: var(--color--blue);
  margin-left: -1vw;
  padding-right: 12px;
}

dd {
  margin-left: 5vw;
  margin-bottom: 2vh;
}


/* Estilos para las tarjetas */
.card-button {

  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.card-buttonn{
  background-color: var(--color--yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-top: 0;
  color: var(--color--yellow);
}

.modal-content p {
  color: #333;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close:hover {
  color: var(--color--yellow);
}



/* Saladillo */
.header-saladillo{
  background-image:linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.582)), url('/assets/images/saladillo-cuatro.jpg'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  position: relative;
  color: white; /* Color del texto */
}
.header-el-tejado{
  background-image:linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.582)), url('/assets/images/fm13.jpg'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  position: relative;
  color: white; /* Color del texto */
}
.header-el-chañar{
  background-image:linear-gradient(rgba(0, 0, 0, 0.571), rgba(0, 0, 0, 0.582)), url('/assets/images/el\ chañar\ \ tres.jpg'); /* Imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center; /* Alinea el texto al centro */
  position: relative;
  color: white; /* Color del texto */
}
.home-cfrr img {
  width: 132px;
  height: 90%;
  margin-right: 10px;
}
.container-doss{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.619) 80%, rgba(10, 2, 9, 0.241)), url('/assets/images/IMG-20220818-WA0041\ \(1\).jpg');
  border-radius: 20px;
  padding: 20px;
}


@media screen and (min-width: 232px) {
  .subtitlee {
    line-height: 34px;
  }

}


.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  width: 44%;
  flex-shrink: 0;
}
.email{
  color:#0056b3;
}
