@import url('/css/css/cfr/mobile.css');
@import url('/css/css/cfr/tablet.css') screen and (min-width: 768px);
@import url('/css/css/cfr/desktop.css') screen and (min-width: 1024px); 

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: 'Lato', sans-serif;
  background-color: #E0DEDE;
 
  line-height: 1.2;
  font-size: 0.9rem; 
  text-decoration: none;  
}

a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del elemento padre */
}
:root{
  --color--yellow: #ED920E;
  --color-cadet: #4f6d7a;
--color-maximum-blue: #5ea5b8;
--color-columbia-blue: #c0d6df;
--color--blue: #0A375F;
--color-platinum: #eaeaea;
--color-cultured: #f3f3f3;
--color-nero: #444444;
--dl-gradient-right: linear-gradient(90deg, rgba(0,0,0,0.04) 20%, rgba(255,255,255,0) 10%);
--font-size-small: 0.875em;
--tablet-width: 768px;
--desktop-width: 1024px;

}
