/* Estilos Generales */
.menu-icon-cfr {
  display: none;
}

.navbar-links-cfr {
  display: flex;
  justify-content: space-between;
  align-items: center;   
  gap: 20px;
  list-style: none;
  margin: 0 20px;
  color: #fff;
}

.navbar-links-cfr li a:hover {
  color: #ED920E;
}

.navbar-links-cfr li a img {
  display: flex;
  width: 20px;
  transition: transform 0.4s ease; 
}

li a:hover img {
  transform: scale(2.1); 
}

li a.instagram:hover img {
  filter: invert(40%) sepia(70%) saturate(700%) hue-rotate(330deg) brightness(90%) contrast(90%);
  
}

li a.facebook:hover img {
  filter: invert(31%) sepia(95%) saturate(2919%) hue-rotate(175deg) brightness(89%) contrast(86%);
  
}

/* Las Retamas */
.container-dos-las-retamas {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between;
}

figure, .contenido-las-retamas {
  width: 48%; 
}

.contenido-las-retamas {
  text-align: left;
}

.container-tres-las-retamas {
  display: flex;
  flex-direction: row-reverse;
}

.container-tres-las-retamas figure,
.contenido-las-retamas-dos {
  width: 50%; 
}

.container-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
}

.foto-las-retamas img {
  margin: 0;
  padding: 10px;
  width: 371px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  transition: all 0.3s;
}

/* Contacto */
.contacto .contenedor {
  display: flex;
  justify-content: flex-start; 
}

/* Footer */
.footer-cfr {
  display: flex;
  flex-direction: row; 
}

.footer-cfr__addr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: 35px;

}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: 37px;

}

.subtitlee{
  justify-content: flex-start;
}