* Nosotros */
.menu-icon-cfr{
    margin-left: 190px;
  }

  .open,
  .close{
    display: none;
  }
  .navbar-links-cfr{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    padding: 0 10px;
  }




/* Las Retamas */
.container-dos-las-retamas {
    flex-direction: row; /* Coloca los elementos uno al lado del otro */
    align-items: center;
    justify-content: space-between;
  }
  
  figure, .contenido-las-retamas {
    width: 48%; /* Cada uno ocupa casi la mitad del espacio disponible */
  }
  
  .contenido-las-retamas {
    text-align: left; /* Cambia la alineación del texto a la izquierda para pantallas más grandes */
  }
  .container-tres-las-retamas {
    flex-direction: row-reverse; /* Imagen a la derecha, texto a la izquierda */
  }
  
  .container-tres-las-retamas figure {
    width: 50%; /* La imagen ocupa la mitad del ancho */
  }
  
  .contenido-las-retamas-dos {
    width: 50%; /* El texto ocupa la otra mitad del ancho */
  }
  .container-proyectos {
    grid-template-columns: 1fr 1fr;
  } 
  
  .foto-las-retamas img {
    margin: 0;
    padding: 10px;
    width: 371px;
  }
  
  .contacto{
    .contenedor {
      justify-content: flex-start; /* Cambia el comportamiento en tabletas */
    }
  }